
<div>
    <h3>Participantes</h3>
    <ul>
        <li>335702 - ANTONIO RAULANDE TRAJANO DA SILVA</li>
        <li>336032 - CELIMAR BARBOSA DE OLIVEIRA</li>
        <li>336023 - DIEGO LEAL WOLFF</li>
        <li>335442 - WENDER DA MATA SILVA</li>
    </ul>
</div>