
<div>
    <h2><Projeto Master Chef /></h2>

    <h3>Cadastro de receitas</h3>
    <ul>
        <li>web site</li>
        <li>api</li>
        <li>grupos: rodolfo.fadino@gmail.com</li>
    </ul>

</div>