@model DevWebReceitas.Application.Dtos.Receita.ReceitaInsertDto

@{
    ViewData["Title"] = "Novo";
    var hasError = ViewData.ModelState.Values.Where(v => v.Errors.Count != 0).Any();
}

<h1>Novo</h1>

<h4>Receita</h4>
<hr />
<div class="row">
    <div class="col-md-10">
        @if (hasError)
        {
            <div class="alert alert-danger">
                <strong>Error!</strong> @ViewData.ModelState["Error"].Errors.First().ErrorMessage
            </div>
        }
        else
        {
            <form asp-action="Create" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Titulo" class="control-label"></label>
                    <input asp-for="Titulo" class="form-control" />
                    <span asp-validation-for="Titulo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CodigoCategoria" class="control-label"></label>
                    <select asp-for="CodigoCategoria" asp-items="@(new SelectList(ViewBag.Categorias,"Codigo","Titulo"))" class="form-control">
                        <option value="">Selecione um</option>
                    </select>
                    <span asp-validation-for="CodigoCategoria" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Descricao" class="control-label"></label>
                    <input asp-for="Descricao" class="form-control" />
                    <span asp-validation-for="Descricao" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Ingredientes" class="control-label"></label>
                    <textarea asp-for="@Model.Ingredientes" class="form-control" rows="6"></textarea>
                    <span asp-validation-for="Ingredientes" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ModoPreparo" class="control-label"></label>
                    <textarea asp-for="ModoPreparo" class="form-control" rows="6"></textarea>
                    <span asp-validation-for="ModoPreparo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Imagem" class="control-label"></label> (apenas arquivos tipo .png)
                    <input asp-for="Imagem" accept="image/png" onchange="onFileSelected(event);">
                    <span asp-validation-for="Imagem" class="text-danger"></span>
                    <figure class="figure">
                        <img src="#" id="image" class="img-thumbnail rounded border border-secondary" width="60%">
                    </figure>
                </div>
                <div class="form-group">
                    <input type="submit" value="Salvar" class="btn btn-primary" />
                </div>
            </form>
        }
    </div>
</div>

<div>
    <a asp-action="Index">Voltar para a lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
