@model IEnumerable<DevWebReceitas.Application.Dtos.Receita.ReceitaDto>

@{
    ViewData["Title"] = "Receitas";
}

<h1>Receitas</h1>

<form asp-action="Index"
      data-ajax-method="post"
      data-ajax="true"
      data-ajax-mode="replace"
      data-ajax-update="#divListaReceitas">
    <div class="row form-group">
        <div class="col-sm-2">
            <input type="text" name="titulo" id="titulo" class="form-control" placeholder="Titulo" />
        </div>
        <div class="col-sm-2">
            <input type="text" name="descricao" id="descricao" class="form-control" placeholder="Descricao" />
        </div>
        <div class="col-sm-2">
            <input type="text" name="ingredientes" id="ingredientes" class="form-control" placeholder="Ingredientes" />
        </div>
        <div class="col-sm-2">
            <input type="text" name="modoPreparo" id="modoPreparo" class="form-control" placeholder="Modo de preparo" />
        </div>
        <div class="col-sm-2">
            <input type="text" name="categoria" id="categoria" class="form-control" placeholder="Categoria" />
        </div>
        <div class="col-sm-1">
            <input type="submit" value="Filtrar" class="btn btn-primary" />
        </div>
    </div>

    <p>
        <a asp-action="Create" class="btn btn-primary">Novo</a>
    </p>

    <partial name="_Receitas" model="Model" />
</form>