@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-4">Projeto Master Chef</h1>

<hr />

<h2>Fiap - Turma 16NET - 2020 </h2>

<partial name="_projectinfo" />
<partial name="_participantes" />
